.react_edu-chats-main {
  display: flex;
  &, &__list, &__correspondence {
    height: 100%;
  }
}
.react_edu-chats-main__list {
  flex-basis: 40%;
  border-right: 1px solid #ccc;
}
.react_edu-chats-main__correspondence {
  width: 100%;
}