.react_edu-chats-main {
  --primary-text-color: #000;
  --primary-color: #3390ec;
  --secondary-color: #c4c9cc;
  --secondary-text-color: #707579;
  display: flex;
  &, &__list, &__correspondence {
    height: 100%;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 9px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 9px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
}
.react_edu-chats-main__list {
  flex-basis: 40%;
  border-right: 1px solid #ccc;
  position: relative;
}
.react_edu-chats-main__correspondence {
  width: 100%;
}
.react_edu-chats-main__list__add-btn {
  position: absolute;
  right: 8px;
  bottom: 8px;
}