.react_edu-chats-main-empty {
  display: flex;
}
.react_edu-chats-main-empty_text {
  color: var(--secondary-text-color);
  vertical-align: center;
  padding: var(--paddinig-rem);
  font-size: var(--text-size-s);
}