.chat-row {
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  padding: var(--paddinig-rem);
  &-selected  {
    background-color: #61dafb;
    color: var(--surface-color);
  }
}
.chat-row__name {
  font-weight: bold;
}
