.react_edu-chats-messages {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  visibility: hidden;
}
.react_edu-chats-messages__content,
.react_edu-chats-messages:hover,
.react_edu-chats-messages:focus {
  visibility: visible;
}
.react_edu-chats-messages__empty {
  color: var(--secondary-text-color);
  text-align: center;
  padding: var(--paddinig-rem);
  font-size: var(--text-size-s)
}
