.react_edu-chats-send-msg {
  display: flex;
  max-height: 400px;
  padding: var(--paddinig-rem);
}
.react_edu-chats-send-msg__text-area {
  resize: none;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: var(--paddinig-rem);
  font-size: var(--text-size);
}